.img {
    height:50px;
    width: 50px;
    object-fit: contain;
};

.container {
    background-color: black
};

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  };